<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <br>
    <div class="row">
    <div class="jumbotron col-sm-12">
  <div class="header-box"><h1>{{title}}</h1></div>
  <div class="header-box"><img src="/images/gamepad-black.png"></div>
</div>
</div>
<div class="row">
  <div class="col-sm-12">
  <ul>
    <a href="/"><li>{{home}}</li>
    <a href="/tutorials"><li>{{tutorials}}</li></a>
    <a href="/games"><li>{{ games }}</li></a>
    <a href="/about"><li>{{ about }}</li></a>
  </ul>
</div>
</div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
<div class="boxes">
  <h2>Video Gamez!!!</h2>
</div>
</div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-sm-12 boxes">

        <a href="/games/pongz/index.html">
          <img class="box" src="/images/pongz_thumbnail.png">
        </a>

        <a href="/games/vaderz/index.html">
          <img class="box" src="/images/vaderz_thumbnail.png">
        </a>

        <a href="/games/breakout/index.html">
          <img class="box" src="/images/breakoutz_thumbnail.png">
        </a>

        <a href="/games/collapse/index.html">
          <img class="box" src="/images/collapse_thumbnail.png">
        </a>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
<div class="footer boxes col-sm-12">
  <p><b>{{name}}</b></p>
</div>
</div>
<br>
</div>
<script>

</script>
</body>
</html>
